<!DOCTYPE html>
<!--
Sign up page
-->
{% load static %}

<html>
    <head>
        <title>Found Something?</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
      {% if user.is_authenticated %}

      <div id="header">
          <a href="{% url 'Home_Page' %}" ><h2 id="logo" >Missing </h2> </a>
          <nav id="navv">
              <ul>
                  <li class="nav_items"><a href="{% url 'Logout' %}" class="nav_items1">Log out</a></li>
                  <li class="nav_items"><a href="{% url 'Contact_Page' %}" class="nav_items1">Contact Us</a></li>
                  <li class="nav_items"><a href="{% url 'Profile_Page' %}" class="nav_items1">Profile</a></li>
                  <li class="nav_items"><a href="{% url 'Found_Page' %}" class="nav_items1">Found Something</a></li>
                  <li class="nav_items"><a href="{% url 'Lost_Page' %}" class="nav_items1">Lost Something</a></li>
              </ul>
          </nav>
      </div>

      {% else %}
      <div id="header">
          <a href="{% url 'Home_Page' %}" ><h2 id="logo" >Missing</h2> </a>
          <nav id="navv">
              <ul>
                  <li class="nav_items"><a href="{% url 'Login_Page' %}" class="nav_items1">Contact Us</a></li>
                  <li class="nav_items"><a href="{% url 'Login_Page'  %}" class="nav_items1">Log in</a></li>
                  <li class="nav_items"><a href="{% url 'sign_up_Page' %}" class="nav_items1">Sign Up</a></li>
              </ul>
          </nav>
      </div>

      {% endif %}


            <div class='upload_divs1'>
                <div >
                  <p class="text1 matter" > <strong style="font-size: 25px;">Details</strong></p>
                  <p>Name:</p>
                  <p>Item:</p>
                  <p>Expected Place:</p>
                  <p>Identifications:</p>
                  <p>Email Id:</p>
                  <p>Mobile no:</p>
                  <br><br><br>


                  <p>If you found the Item, Please infrom them through either mail id or mobie number </p>
                </div>

            </div>


    </body>
</html>
